.main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow-y: hidden; 
}

.page-container {
  width: 100%;
  flex: 1 1;
  overflow-y: auto;
  background: #F7F8FA;
}
.footer {
  background-color: #3a3a3a;
  color: white;
  padding: 0.5rem 3rem;
}