.product-modal-img {
    width: 100%;
    height: auto;
}
.modal-product-details {
    padding: 1rem 2rem;
}
.product-details-name {
    font-size: 18px;
}

.product-details-price {
    font-size: 20px;
    font-weight: 500;
}
.product-details-cart-action {
    border-color: #ff5f5f !important;
    color: #ff5f5f !important;
    border-radius: 40px !important;
    flex: 1 1 200px !important;
    height: 40px !important;
    margin-left: 10px !important;
    margin-top: 20px !important;
}
.product-details-cart-action:hover {
    background-color: #ff5f5f !important;
    color: white !important;
}

span.product-details-brand {
    margin-left: 20px;
    font-weight: bold;
    position: relative;
}
span.product-details-brand::before {
    content: "";
    width: 6px;
    border-radius: 5px;
    height: 6px;
    background: #ff5f5f;
    position: absolute;
    left: -12px;
    top: 8px;
}
.product-details-release-date {
    color: gray;
    margin-bottom: 2rem;
}
.product-details-container {
    padding-bottom: 1rem;
}